@media screen and (max-width: 1980px) {
    .techSkills > img {
        width: 12%;
    }

    .headshotCropped {
        margin-left: 15%;
        margin-top: 6%;
    }

    .personalQuote {
        margin-top: 2%;
        margin-left: 22%;
    }
}

@media screen and (max-width: 1400px) {
    .techSkills > img {
        width: 12%;
    }

    .headshotCropped {
        margin-left: 20%;
        margin-top: 6%;
    }

    .personalQuote {
        margin-top: 2%;
        margin-left: 22%;
    }

    .halQuote {
        margin-left: 33%;
    }
}

@media screen and (max-width: 1300px) {
    .techSkills > img {
        width: 12%;
    }

    .headshotCropped {
        margin-left: 20%;
        margin-top: 6%;
    }

    .personalQuote {
        margin-top: 2%;
        margin-left: 22%;
    }
}

@media screen and (max-width: 1200px) {
    .techSkills > img {
        width: 11%;
    }

    .headshotCropped {
        margin-left: 10%;
        margin-top: 10%;
    }

    .personalQuote {
        margin-top: 2%;
        margin-left: 25%;
    }

    .halQuote {
        margin-left: 32%;
        width: 120%;
    }

    .profileQuote {
        font-size: 24px;
        line-height: 2;
        margin-top: 6%;
    }

}

@media screen and (max-width: 992px) {
    .techSkills > img {
        width: 26.5%;
    }

    .footer {
        height: 28vh;
    }

    .footer h4 {
        margin-top: 40px;
    }

    .navIcon {
        display: none;
    }

    .personalQuote {
        margin: auto;
    }

    .profileQuote {
        margin-top: 11%;
        text-align: center;
    }

    .headshotCropped {
        margin-left: 27%;
    }

    .halQuote {
        margin-left: 20%;
        width: 120%;
    }
}

@media screen and (max-width: 970px) {
    .headshotCropped {
        margin-left: 28%;
    }
}

@media screen and (max-width: 950px) {
    .headshotCropped {
        margin-left: 28%;
    }
}

@media screen and (max-width: 900px) {
    .headshotCropped {
        margin-left: 28%;
    }
}

@media screen and (max-width: 850px) {
    .headshotCropped {
        margin-left: 28%;
    }
}

@media screen and (max-width: 800px) {
    .headshotCropped {
        margin-left: 28%;
    }

    .personalQuote {
        margin: auto;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .headshotCropped {
        margin-left: 7%;
    }
    
    .headshot {
        display: block!important;
        min-width: 150px;
    }

    .heroImageName {
        font-size: 3.75rem;
    }

    .techSkills > img {
        width: 41.2%;
    }

    .footer {
        height: 70vh;
    }

    .halQuote {
        margin-left: 0;
        width: 100%;
        margin-bottom: 7%;
    }
}

@media screen and (max-width: 720px) {
    .headshotCropped {
        margin-left: 6%;
        height: 47vh;
    }
    
    .headshot {
        display: block!important;
        min-width: 150px;
    }

    .heroImageName {
        font-size: 3.75rem;
    }

    .techSkills > img {
        width: 41.2%;
    }

    .footer {
        height: 70vh;
    }
}

@media screen and (max-width: 700px) {
    .headshotCropped {
        margin-left: 7%;
        height: 45vh;
    }
}

@media screen and (max-width: 630px) {
    .headshotCropped {
        margin-left: 8%;
        height: 44vh;
    }
    
    .halQuote {
        margin-left: 2%;
    }
}

@media screen and (max-width: 600px) {
    .headshotCropped {
        height: 38vh;
        margin-left: 14%;
    }

    .halQuote {
        margin-left: 14%;
        width: 75%;
    }
}

@media screen and (max-width: 555px) {
    .headshotCropped {
        height: 38vh;
        margin-left: 15%;
    }

    .techSkills > img {
        width: 41%;
    }
}

@media screen and (max-width: 544px) {
    .techSkills > img {
        width: 40%;
    }

    .headshotCropped {
        height: 38vh;
        margin-left: 13%;
    }
}

@media screen and (max-width: 510px) {
    .heroImageName {
        font-size: 2.5rem;
    }

    .heroImageSubname {
        font-size: 1.5rem;
    }

    .headshot {
        display: block!important;
        min-width: 150px;
    }

    .heroImageSubname {
        margin-bottom: 7rem;
    }

    .carousel-caption > p {
        margin-bottom: 9rem;
        text-transform: uppercase;
    }

    .headshotCropped {
        height: 38vh;
        margin-left: 12%;
    }
}

@media screen and (max-width: 498px) {
    .headshot {
        max-height: 240px;
    }

    .techSkills > img {
        width: 39%;
    }

    .carousel-caption > p {
        margin-bottom: 9rem;
        text-transform: uppercase;
    }

    .headshotCropped {
        height: 38vh;
        margin-left: 9%;
    }
}

@media screen and (max-width: 468px) {
    .techSkills > img {
        width: 38%;
    }

    .headshotCropped {
        height: 34vh;
        margin-left: 11%;
    }
}

@media screen and (max-width: 442px) {
    .techSkills > img {
        width: 37%;
    }

    .headshotCropped {
        height: 34vh;
        margin-left: 9%;
    }
}

@media screen and (max-width: 425px) {
    .techSkills > img {
        width: 37%;
    }

    .headshotCropped {
        height: 34vh;
        margin-left: 8%;
    }
}

@media screen and (max-width: 420px) {
    .techSkills > img {
        width: 37%;
    }

    .headshotCropped {
        height: 34vh;
        margin-left: 7%;
    }
}

@media screen and (max-width: 419px) {
    .techSkills > img {
        width: 37%;
    }
}

@media screen and (max-width: 400px) {
    .headshot {
        max-height: 240px;
    }

    .techSkills > img {
        width: 34%;
    }

    .headshotCropped {
        height: 30vh;
        margin-left: 9%;
    }
}

@media screen and (max-width: 380px) {
    .headshot {
        max-height: 240px;
    }

    .techSkills > img {
        width: 34%;
    }

    .headshotCropped {
        height: 26vh;
        margin-left: 14%;
    }
}

@media screen and (max-width: 353px) {
    .headshot {
        max-height: 240px;
    }

    .techSkills > img {
        width: 34%;
    }

    .headshotCropped {
        height: 26vh;
        margin-left: 10%;
    }
}

@media screen and (max-width: 320px) {
    .techSkills > img {
        width: 33%;
    }

    .footer {
        height: 105vh;
    }

    .heroImageName {
        font-size: 2.3rem;
    }

    .headshot {
        min-height: 207px;
    }

    .headshotCropped {
        height: 45vh;
        margin-bottom: 3vh;
        margin-left: 9%;
    }

    .halQuote {
        margin-bottom: 18%;
    }
}